# Latex Files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# WP12 stuff
2_grimme/ex*
1_kirchner/spc*

# Jupyter Notebook stuff
*/.ipynb_checkpoints

# VSCode stuff
*/.vscode
